APP_NAME="SomeCA"

LOGO="logo.png"
FAVICON=""
DOMAIN="someca.tld"
SHA1="tbd"
SHA256="tbd"

COMMUNITY="false" # false - no community restrictions 

LANGUAGES = {
    'en': 'English',
    'de': 'Deutsch'
}

